<ion-view title="EDIT UPDATE {{vm.device.name}}">
    <ion-content overflow-scroll="false">
        <form class="list list-inset">
            
            <item>
                <div class="item item-input-inset col-center">
                    Created on: 
                    {{vm.update.date | date : "d MMM yyyy H:mm "}} &nbsp;
                    <button type="button" class="button button-small no-padding icon ion-android-calendar" ng-click="vm.pickDate()" ng-hide="browser"></button>
                    <ionic-datepicker date="vm.update.date" max="vm.maxDate" callback="vm.saveDate" ng-show="browser">
                        <button type="button" class="button button-small button-positive icon ion-android-calendar no-padding"></button>
                    </ionic-datepicker>
                </div>
            </item>

            <label class="item item-select">
                <span class="item-label">Status</span>
                <select class="item-select" style="background-color: {{vm.color}} !important" ng-model="vm.selector" ng-change="vm.updateColor()">
                    <option value="green">OK</option>
                    <option value="yellow">Limited</option>
                    <option value="blue">Reserved</option>
                    <option value="red">Broken</option>
                </select>
            </label>


            <label class="item item-input-inset">
                <span class="input-label">Message</span>
                <textarea placeholder="Message" class="big-area" ng-model="vm.message"></textarea>
            </label>

            <div class="item item-input-inset">
                <span class="input-label">Location</span>
                <label class="item-input-wrapper">                
                <input name="location" type="text" placeholder="Location" ng-model="vm.update.location" ng-change="vm.checkIfEmpty()">
            </label>
            </div>
            <p align="center" class="item" ng-repeat="location in vm.locations | filter: vm.update.location" style="line-height: 5px !important"
                ng-click="vm.complete(location)" ng-hide="vm.locationHide">{{location}}</p>

        </form>
    </ion-content>

    <ion-footer class="tabs tabs-secondary tabs-icon-top hide-on-keyboard-open no-border no-padding">
       <a class="tab-item" type="submit" ng-click="vm.edit()">
            <i class="icon fa fa-floppy-o"></i>Save
        </a>
    </ion-footer>

</ion-view>