<navigation></navigation>

<div class='container-fluid'>
  <div class=" row no-side-pad div-screen">
    <div class="col-lg-6 col-sm-6 container no-side-pad" ng-hide='vm.updateForm'>
      <div class='more-bot-margin container-fluid'>
        <div class="row">
          <div class='input-group' id="searchbar">
            <span id="search-icon" class="input-group-addon "><i class="glyphicon glyphicon-search"></i></span>
            <input class='form-control' type="text" placeholder="Search items" ng-model="vm.textFilter" ng-change="vm.onSearch()" focus-me="{{vm.focus}}">
            <span class="input-group-addon" ng-show="vm.searchEntered" ng-click="vm.clearSearch()">
                <i class="glyphicon glyphicon-remove button-clear clear-button"></i>
              </span>
          </div>

          <div ng-show="vm.searchEntered" show-val="{{vm.searchEntered}}" id='orderbar' class="well bar-grey smaller clearfix no-top-bot-pad">
            <span class="col-lg-2 col-xs-2 cursive btn-height" align="left">Sort by: </span>
            <div class='col-lg-10 col-xs-10'>
              <a align="center" class="col-lg-3 col-xs-3 btn button-black" ng-click="vm.sort('name')">NAME <span ng-show="vm.nameOrder">
            <i class="glyphicon glyphicon-triangle-top" ng-show="vm.up"></i><i class="glyphicon glyphicon-triangle-bottom" ng-hide="vm.up"></i></span></a>
              <a align="center" class="col-lg-3 col-xs-3 btn button-black" ng-click="vm.sort('lastUpdate')">DATE <span ng-show="vm.dateOrder">
            <i class="glyphicon glyphicon-triangle-top" ng-show="vm.up"></i><i class="glyphicon glyphicon-triangle-bottom" ng-hide="vm.up"></i></span></a>
              <a align="center" class="col-lg-3 col-xs-3 btn button-black" ng-click="vm.sort('location')">LOCATION <span ng-show="vm.locOrder">
            <i class="glyphicon glyphicon-triangle-top" ng-show="vm.up"></i><i class="glyphicon glyphicon-triangle-bottom" ng-hide="vm.up"></i></span></a>
              <a align="center" class="col-lg-3 col-xs-3 btn button-black" ng-click="vm.sort('status')">STATUS <span ng-show="vm.stateOrder">
            <i class="glyphicon glyphicon-triangle-top" ng-show="vm.up"></i><i class="glyphicon glyphicon-triangle-bottom" ng-hide="vm.up"></i></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="no-item" ng-show="vm.devices.length==0">
        <h3 class=''>No data.</h3>
        <a class="btn btn-success" href="/devices/code/new">
          <i class="glyphicon glyphicon-plus"></i>&nbsp;Add
        </a>
      </div>
      <div class="no-item" ng-show="!vm.devices">
        <h3 class=''>Couldn't receive items. Something went wrong.</h3>
      </div>
      <ul class='list-group'>

        <div ng-repeat="device in vm.devices | filter : vm.searchFilter | orderBy : vm.order : vm.reverse">
          <a ng-class="{'active': vm.activeItem===device.code}" class="container list-group-item com-list-item" ng-click="vm.toItemInfo(device.code)">
            <div class="row row-center fill-height">
              <span class="col-lg-11 col-sm-11 fill-height">
              <div class="ellipsis no-left-pad">{{device.name}}</div>
              <div>
                <i class="syn-blue glyphicon glyphicon-refresh"></i>
                {{device.lastUpdate || device.lastModified | date : "dd.MM.yy"}} 
                <span ng-show="device.lastUpdate">by <span class="bold">{{device.updates[0].author | formatUser}}</span>
              </span>
            </div>
            <div ng-show="device.location">
              <i class="syn-red glyphicon glyphicon-map-marker"></i> {{device.location}}
            </div>
            </span>
            <div class="col-lg-1 col-sm-1 fill-height" align='right'>
              <!--<span class="circles {{device.status}}-status" ng-show="device.status"></span>-->
              <div class="{{device.status}}-status fill-height max-w-20" ng-show="device.status"></div>
            </div>
            <span align="right"><i class="col col-center larger ion-chevron-right"></i></span>
        </div>
        </a>
    </div>
    </ul>
  </div>

  <div class="col-lg-6 col-sm-6" ng-hide="vm.chosen || !vm.devices || vm.devices.length==0">
    <h3 class='no-item'>No item chosen.</h3>
  </div>

  <div class="col-lg-6 col-sm-6 no-left-marg fill-height" ng-show="vm.chosen">
    <div id="open-panel" class="panel panel-default">
      <div class='container more-bot-margin'>
        <div class='row' align='center'>
          <a ng-show="vm.device && !vm.editing" class="btn btn-success" ng-click="vm.editDevice()">
            <i class="glyphicon glyphicon-edit"></i>&nbsp;Edit
          </a>
          <a ng-show="vm.device && !vm.editing" class="btn btn-danger" ng-click="vm.deleteDevice()">
            <i class="glyphicon glyphicon-trash"></i>&nbsp;Delete
          </a>
          <a ng-show="vm.editing" class="btn btn-danger" ng-click="vm.dismissDevEdit()">
            <i class="glyphicon glyphicon-remove"></i>&nbsp;Dismiss
          </a>
          <a ng-show="vm.editing" class="btn btn-success" ng-click="vm.saveDevice()">
            <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save
          </a>
        </div>
        <div class="row">
          <div id="item-info" class="col-lg-8 col-sm-7 col-xs-6">
            <div class="more-bot-margin">
              <span class="bold wide">Name: </span><span ng-hide='vm.editing'>{{vm.device.name}}</span>
              <input class='form-control' name="itemname" type="text" ng-model="vm.newName" ng-show='vm.editing'>
            </div>
            <div class="more-bot-margin">
              <span class="bold wide">Code: </span><span class="left-space" ng-hide='vm.editing'>{{vm.devicecode}} </span>
              <input class='form-control' name="code" type="text" ng-model="vm.itemCode" ng-show='vm.editing'>
            </div>
            <div class="more-bot-margin">
              <span class="bold"><i class="syn-blue glyphicon glyphicon-refresh"></i> {{vm.device.updates[0].date || vm.device.lastModified |
              date : "dd.MM.yyyy"}}
              <span ng-show="vm.device.updates.length>0"> by
                        {{vm.device.updates[0].author | formatUser}}</span></span>
            </div>
            <div class="more-bot-margin">
              <span class="bold"><i ng-hide='vm.editing || !vm.device.location' class="syn-red glyphicon glyphicon-map-marker"></i>
              <span ng-hide='vm.editing'>{{vm.device.location}} </span>
              <span ng-show='vm.editing'>Location:</span>
              <input class='form-control' name="location" uib-typeahead="location for location in vm.locations | filter:$viewValue | limitTo:8"
                type="text" ng-model="vm.location" ng-show='vm.editing' ng-change='vm.checkIfEmpty()'>
              </span>
            </div>
            <div class="more-bot-margin">
              <span class="bold" ng-show="vm.device.description || vm.editing">Description:</span>
              <p ng-show="vm.device.description && !vm.editing" class="breaktext inline">{{vm.device.description}}</p>
              <textarea class='form-control' name="description" ng-model="vm.itemDescr" ng-show='vm.editing'></textarea>
            </div>
            <div ng-style="vm.style" class="{{vm.device.status}}-status circles more-margin" ng-show="vm.device.status"></div>
          </div>

          <div class="col-lg-4 col-sm-5 col-xs-6" align="right">
            <img ng-style="vm.infoStyle()" class="img-responsive img-rounded" src="{{vm.path}}">
            <span ng-show='vm.editing'>
            <input type="file" id="file-chooser" ng-model="vm.photo" onchange="setImgFile('device')">
            <button type='button' class="btn btn-success" ng-show="vm.uploaded || (vm.device.image && vm.editing)" ng-click="vm.removeImg('device')"><i class="icon ion-trash-b"></i>Remove</button>
          </span>
          </div>
        </div>
      </div>

      <div align='center' class="panel-heading btn-height">
        <div class='inline'>UPDATES</div>
        <div class='inline pull-right'>
          <a ng-show="vm.device && !vm.editing" class="btn btn-success" ng-click="vm.openUpdateModal()">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
        <div class='clearfix'></div>
      </div>

      <ul ng-show="vm.device.updates.length>0" class="list-group scrollable">
        <uib-accordion close-others="true">
          <div uib-accordion-group is-open="$parent.isOpen[$index]" class="list-group-item accordion-toggle" ng-repeat="update in vm.device.updates | orderBy : '-date'"
            ng-model="vm.device.update">
            <uib-accordion-heading ng-click="vm.openUpdate()">
              <div class="row row-eq-height">
                <div class='col-lg-9 col-sm-8 col-xs-9'>
                  <div class="syn-blue">{{update.date | date : "d MMM yyyy"}} by
                    <span class="bold">{{update.author | formatUser}}</span>
                  </div>
                  <div class="ellipsis" ng-show="update.message" ng-hide='(vm.open == $index) || vm.updEdit && vm.edUpdate._id == update._id'>
                    {{update.message}}
                  </div>
                  <div class="syn-red breaktext" ng-show="update.location && !(vm.updEdit && vm.edUpdate._id == update._id)">
                    <i class="syn-red glyphicon glyphicon-map-marker"></i><span class="middle">&nbsp;{{update.location}}</span>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-3" align="right">
                  <div id="inline-circle" class="circles small-circle middle {{update.status}}-status" ng-hide="!update.status || (vm.updEdit && vm.edUpdate._id == update._id)"></div>
                </div>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-lg-4 col-sm-3 col-xs-4">
                <p id="datepick" ng-show='vm.updEdit && vm.edUpdate._id == update._id' class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" is-open='vm.opened' ng-model="vm.edUpdate.date"
                    datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default input-btn" ng-click="vm.openPopup(update._id, update.date)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
                <input placeholder='Location' class='form-control more-bot-margin' type="text" ng-model="vm.edUpdate.location" ng-show='vm.updEdit && vm.edUpdate._id == update._id'>
                <img ng-hide='vm.updEdit && vm.edUpdate._id == update._id' src="{{update.image}}" class="img-responsive img-rounded">
                <img ng-show='vm.updEdit && vm.edUpdate._id == update._id' src="{{vm.edUpdate.image}}" class="img-responsive img-rounded">
                <input ng-show='vm.updEdit && vm.edUpdate._id == update._id' type="file" id="upd-chooser" ng-model="vm.updphoto" onchange="setImgFile('update')">
                <button type='button' class="btn btn-success" ng-show="(update.image || vm.uploadedUpd) && (vm.updEdit && vm.edUpdate._id == update._id)" ng-click="vm.removeImg('update')"><i class="icon ion-trash-b"></i>Remove</button>
              </div>
              <div class="col-lg-5 col-sm-5 col-xs-5">
                <div ng-show='vm.updEdit && vm.edUpdate._id == update._id' class="form-group">
                  <div uib-dropdown is-open="false" auto-close="always">
                    <button type="button" id='newstatus' ng-click="vm.stopProp()" class="btn btn-default {{vm.color}}-select" uib-dropdown-toggle>
                    &nbsp;{{vm.status || 'Status'}}&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
                      <li role="menuitem"><a ng-click="vm.setStatus('green', 'OK')">OK</a></li>
                      <li role="menuitem"><a ng-click="vm.setStatus('yellow', 'Limited')">Limited</a></li>
                      <li role="menuitem"><a ng-click="vm.setStatus('blue', 'Reserved')">Reserved</a></li>
                      <li role="menuitem"><a ng-click="vm.setStatus('red', 'Broken')">Broken</a></li>
                    </ul>
                  </div>
                </div>
                <div class='clearfix'></div>
                <span ng-hide="vm.updEdit && vm.edUpdate._id == update._id">{{update.message}}</span>
                <textarea placeholder='Message' class='form-control more-bot-margin' type="text" ng-model="vm.edUpdate.message" ng-show='vm.updEdit && vm.edUpdate._id == update._id'></textarea>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-3" align="right">
                <button ng-hide='(vm.updEdit && vm.edUpdate._id == update._id) || !vm.canEdit(update.author)' ng-click="vm.toEdit(update)"
                  class="btn btn-outline glyphicon glyphicon-pencil"></button>
                <button ng-hide='(vm.updEdit && vm.edUpdate._id == update._id) || !vm.canEdit(update.author)' ng-click="vm.deleteUpdate(update._id)"
                  class="btn btn-outline glyphicon glyphicon-trash"></button>
                <div>
                  <button ng-show="vm.updEdit && vm.edUpdate._id == update._id" class="btn btn-success glyphicon glyphicon-floppy-disk" ng-click="vm.editUpdate(update)"></button>
                  <button ng-click="vm.updEdit = false;" class="btn btn-danger glyphicon glyphicon-remove" ng-show="vm.updEdit && vm.edUpdate._id == update._id"></button>
                </div>

              </div>
            </div>
          </div>
        </uib-accordion>
      </ul>
    </div>
  </div>
</div>
</div>

<!--<div class="col-lg-12" align="center" id="barcode"></div>-->