<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat='tab in nvm.tabs' ng-class="{active: nvm.active===tab.index}">
                    <a href='' ng-click='nvm.select(tab)'>{{tab.name}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown>
                        <a href id="simple-dropdown" uib-dropdown-toggle>
                            Scan Code <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li>
                                <a href ng-click="nvm.camScan()">Webcam</a>
                            </li>
                            <li>
                                <a href>Scanner</a>
                            </li>
                        </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown>
                    <a href uib-dropdown-toggle>{{nvm.user}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a href="" ng-click='nvm.logout()'>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>