<ion-view view-title="Login">

  <ion-content id="full-height-scroll">
    <div class="row row-center full-height">
      
      <div class="col col-center" align="center">
        <h4>You need to login.</h1>
        <div>
          <button type="button" class="more-margin button button-block button-synred button-wide button-high icon icon-syn-icon-trans" ng-click="vm.loginWithSncn()"></button>
        </div>
        <div>
          <button type="button" class="more-margin button button-block  button-high button-outline button-dark" ng-click="vm.asTestUser()">Use Test Mode</button></div>
      </div>
    </div>
  </ion-content>
</ion-view>